*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width:400px){
    html,
    body{
        width: 100%;
        overflow-x: hidden;
    }
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 235, 235);
    padding: 30px 7%;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1000;
}
.menu{
    color: rgb(0, 0, 0);
    display: none;
}
.logo{
    font-size: larger;
    font-weight: bold;
    color: #000;
}
header .ul{
    display: flex;
}
header .ul li a{
    margin:0 20px;
    font-size: medium;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    transition: background-color 0.7s ,color 0.7s;

}
header .ul li a:hover{
    color: aliceblue;
    background-color: #000;
    cursor: pointer;
}
.icon .fa-solid {
    display: inline-block;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 40%;
    cursor: pointer;
    transition:background-color 0.7s ;
}
.icon .fa-solid:hover{
    background-color: rgb(246, 246, 246);
}



@media(max-width:760px){

    header{
        display: flex;
        width: 100%;
        position: fixed;
        z-index: 1000;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(236, 235, 235);
        padding: 30px 7%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .menu{
        color: rgb(0, 0, 0);
        display: block;
        font-size: large;
        font-size: 25px;
        cursor: pointer;

    }
    .logo{
        font-size: larger;
        font-weight: bold;
        color: black;
    }
    header .ul{
        display: block;
        position: absolute;
        top: -3000%;
        left: 0;
        right: 0;
        color: #000;
        height: 90vh;
        background-color: rgb(170, 166, 166);
        transition: top 0.5s;
     
    }
    header .ul.active{
      top: 100%;
      
    }
    header .ul li a{
        display: inline-block;
        margin: 20px 25px;
        font-size: medium;
        font-weight: bold;
        color: rgb(255, 255, 255);
        
    }


}
/* end header */
@media screen and (max-width:1000px) and (min-width:200px){
    .containar{
        display: grid;
        grid-template-columns: 1fr;
    }
    .containar .left{
        text-align: center;
    }
}

.containar{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.containar .left{
    padding: 30px 7%;
    height: 100vh;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.product{
    background-color: rgb(214, 214, 214);
    width: 430px;
    height: 430px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

}
.product img{
    margin-top: 60px;
}
.sub-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
   
    gap: 15px;
}
.sub-img div{
    background-color: rgb(209, 209, 209);
    overflow: hidden;
    height: 100px;
}
.sub-img div img{
    margin-top: 10px;
}
.containar .right{
    padding: 30px 7%;
    height: 100vh;
    background-color: rgb(227, 227, 227);
}
.contant{
    margin-top: 150px;
}
.contant h1{
    margin-bottom: 20px;
}
.contant h3{
    font-size: 15px;
    margin-bottom:20px ;
    font-weight: 100;
}
.contant h4{
    font-size: 15px;
    margin-bottom:20px ;
    font-weight: bold;
}
.contant h4 span{
    color: rgb(0, 184, 92);
}
.contant p{
    max-width: 400px;
    margin-bottom:20px ;
}
.contant h5{

    font-weight: bold;
}
.im-box{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}
.boxes{
    border-right: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:background-color 0.9s;
}
.boxes:hover{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.boxes:last-child{
    border: none;
}

.btn-add button{
    margin-top: 30px;
    padding: 13px 30px;
    cursor: pointer;
    background-color: #000;
    color: aliceblue;
    border: 0;
    outline: none;
    margin-right: 10px;font-weight: bold;
    transition:background-color 0.8s;
}
.btn-add button:hover{
    background-color: rgb(0, 184, 92);;
}
/* .btn2:hover{
    color: #ffffff;
    background-color: #000;
} */
.btn-add button:last-child{
color: black;
background-color: rgb(255, 255, 255);
   
}
@media(max-width:760px){
    .containar{
        grid-template-columns: 1fr;
    }
}

@media (max-width:340px){
    .containar .right{
        padding: 30px 7%;
        height: 80vh;
        background-color: rgb(227, 227, 227);
    }
}   











****************************/
body{
    
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a, p{
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    color:var(--primary);
    font-weight:600;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

.title{
    color:var(--primary);
}

.flex, .fixed_flex{
    display:flex;
}

.flex-content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.btn{
    padding:0.8rem 2rem;
    border-radius:5px;
    text-align:center;
    font-weight:500;
    text-transform:uppercase;
}

.btn_1{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_1:hover{
    background-color:transparent;
    color:var(--primary);
}

.btn_2{
    border:1px solid var(--secondary);
    background-color:var(--secondary);
    color:var(--primary);
}

.btn_2:hover{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
  
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p{
        font-size:12px;
    }
}



/***************************
               FOOTER
****************************/
footer{
    background-color:black;
    color:#c5c3c3;
}

footer h3{
    color:white;
    margin-bottom:1.5rem;
}

footer a{
    color:var(--lite);
    display:block;
    margin:15px 0;
}

footer a:hover{
    color:whitesmoke;
}

footer fieldset{
    padding:0;
}

footer fieldset input{
    background-color:#334f6c;
    border:0;
    color:whitesmoke;
    padding:1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
    background-color: #ffffff;
    color: #334f6c;
    cursor: pointer;

}

footer fieldset .btn_2:hover{
    background-color:whitesmoke;
    border:0;
    color:black;
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .flex-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:var(--white);
}
.flex h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer .flex:last-child a{
    width:40px;
    display:inline-block;
    background-color:#334f6c;
    color:var(--white);
    padding:0.5rem;
    margin-right:3px;
    text-align:center;
}

footer .flex:last-child a:hover{
    background-color:var(--secondary);
    color:var(--gray);
}

@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }
    
    footer .flex:first-child .flex-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer .flex:last-child .flex-content:last-child{
        text-align:left;
    }
}

@media (max-width:320px){
    footer .flex:first-child .flex-content{
        flex:1 1 100%;
    }
}
.mb-3 input{
    background-color: #d3d3d3;
}
.mb-3 textarea{
    background-color: #d3d3d3;
}


